{% extends 'carepackages/package_base.html' %}
{% load static %}

{% block style %}
<style>
    .container.main{
        min-height:70vh;
    }
    .card{
        max-height:500px;
        font-family: 'Nunito', sans-serif;
        font-weight: 900;
        border-radius: 1rem !important;
        box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.75);
        transition:.3s;
    }

    .card:hover{
        box-shadow: none;
    }
    .card-img-top{
        object-fit:cover;
        max-height: 300px;
    
        border-top-left-radius: .8rem;
        border-top-right-radius: .8rem;
    }
  

    .card-body{
        background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        border-bottom-left-radius: .8rem;
        border-bottom-right-radius: .8rem;
    }

    .info-btn{
        border-radius: 100%;
        border:none;
        width: 4rem;
        height: 4rem;
        font-size: 2.6rem;
        color:green;
        background-color: black ;
        box-shadow: 10px 10px 14px -3px rgba(0,0,0,0.75);
        transition: .3s;
    }

    .info-btn:hover{
        color:rgb(195, 243, 186);
        box-shadow:none;
    }

    .card-link{
        text-decoration: none;
        color:black;
    
    }

    .card-link:hover{
        
        color:rgb(0, 0, 0);
        font-size: 3rem;
    }

</style>
{% endblock style %}

{% block content %}
<div class="container main">
    {% if packs %}
    <div class="header1 border-0 my-4 text-light">
        <h3>Avaliable Care pacakages</h3>
    </div>  

    
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
       
        {% for each in packs %}

        <div class="col">
            <a href="{% url 'packinfo' each.id %}" class="card-link">
                <div class="card border-0 ">
                <img src="{{ each.pack_image.url }}" class="card-img-top  " alt="...">
                <div class="card-body row m-0 justify-content-center">
                    <div class="col-md-9  text-center align-self-center">
                        <h5 class="card-title">{{ each.pack_name }}</h5>
                    </div>
                    <div class="col-md-3  p-0 ">
                        <button href="{% url 'packinfo' each.id %}" value="" class="info-btn"><i class="fa-solid fa-circle-info"></i></button>
                    </div>
                    
                </div>
                </div>
            </a>
        </div>
        {% endfor %}
        
    </div>
    {% else %}
        <div class="card-header text-light my-5 text-center" style="height: 55vh">
            <h2>No care packs currently! sorry!</h2>
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block script %}
{% endblock script %}

