{% extends 'musicplayer/music_base.html' %}

{% load static %}

{% block style %}
<link href="https://fonts.googleapis.com/css2?family=Dongle&family=Nunito:wght@400;600&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
  body{
    background: url('/static/bgimages/bg01sunrise.jpg');
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    color: black;
  }

  h1, h2, h3{
    text-shadow: none;
    color:rgb(209, 208, 208);
  }
  .card{
    border:None;
    -webkit-box-shadow: 11px 11px 14px -6px rgba(0,0,0,0.7);
    -moz-box-shadow: 11px 11px 14px -6px rgba(0,0,0,0.7);
    box-shadow: 11px 11px 14px -6px rgba(0,0,0,0.7);

    background:rgba(42, 44, 42, 0.478);
    color:rgb(225, 230, 213);    
  }

  .songpic{
      
      min-height: 300px;
      object-fit:cover;
  }

  .profilepic{
    max-width: 200px;
    object-fit:cover;
  }

  .fa-xl{
    padding-right: 1rem;
    transition: .2s;
  }
  .fa-xl:hover{
    transform: scale(1.2);
  }
  
  .fa-trash{
    color:red;
  }

  .fa-pen-to-square{
    color:yellow;
  }

  textarea{
    background-color: rgba(0, 0, 0, 0.858);
    border:none;
    width:100%;
    height:80%;
    padding:1rem;
    color:white;
    resize:vertical;
    border-radius: .5rem;
  }
  button{
    padding-left:1rem;
    margin-left: 1rem;
  }

  .backbtn{
    margin: 0;
    text-decoration: none;
    color:antiquewhite;
    float: right;
    padding: 1rem 1.4rem 0rem 1rem ;
    font-size: 1.4rem;
  }

  .backbtn:hover{
    color:rgb(48, 217, 18);
  }

</style>
{% endblock style %}


{% block content %}
<div class="container info d-grid align-content-center">
  <div>
    <a href="{% url 'music_info' track.id %}" class="backbtn text-end"><i class="fa-solid fa-arrow-left "></i> back</a>
  </div>  

  {% if messages %}
  {% for m in messages %}
  {% if m.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success text-center messages mt-3 " role="alert">
      {{ m }}
    </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  <div class="card m-3" >
      <div class="row g-0">
        <div class="col-md-4 p-3">
          <img src="{{track.cover_image.url}}" class="songpic img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body px-5">

            <h2 class="card-title text-center p-2 ">{{track.track_name}}</h2>
            <hr class="mt-0 mb-2">
            <div class="row pt-1 text-center">

              <div class="col-6 mb-3">
                <h4 class="text-muted"> Composer</h4>
                <h4> {{track.track_creator}}</h4>
              </div>

              <div class="col-6 mb-3">
                <h4 class="text-muted"> Uploaded on</h4>
                <h4> {{track.uploaded_date}} </h4>
              </div>

              <div class="col-6 mb-3">
                <h4 class="text-muted"> Likes</h4>
                <h4 id="like_count"> {{track.likes_count}} <small> & counting</small> </h4>
              </div>

              <div class="col-6 mb-3">
                <h4 class="text-muted"> Reviews</h4>
                <h4> {{track.reviews_count}} <small>reviews so far</small> </h4>
              </div>

            </div>
            <p class="card-footer text-center m-0"><small class="text-muted">Leave your comments on the this music track <i class="fa-solid fa-heart"></i></small></p>

          </div>
        </div>
      </div>
    </div>
    
    <!-- ================================  reviews list ================================================ -->
    <div class="card m-3 mx-lg-5 p-2">
      <div class="row">
          <div class="col-md-3 p-4 d-grid justify-content-center align-items-center">
              <img src="{{request.user.guprofile.image.url}}" class=" profilepic img rounded-circle justify-self-center" width="110px" height="110px" alt="...">
              <h4 class="text-center m-0 pt-3">{{request.user.username}}</h4>
          </div>

          <div class="col-md-9 p-4 d-grid">
            <form action="" method="post">
              {% csrf_token %}
              
              {{form.reviewtext}}
              <!-- <textarea name="" id="" cols="30" rows="5" placeholder="... type your review here"></textarea> -->
              <button type="reset"class="btn btn-outline-light mt-3 justify-self-end" style="float:right;">clear</button>
              <button type="submit"class="btn btn-success mt-3 justify-self-end" style="float:right;">Post the review</button>
            </form>
          </div>
      </div>
  </div>

  <!-- ================================  reviews list ================================================ -->

  {% for each in reviewlist %}
  <div class="card m-3 mx-lg-5 p-2">
      <div class="row">
          <div class="col-md-3 p-4 d-grid justify-content-center align-items-center">
              <img src="{{request.user.guprofile.image.url}}" class=" profilepic img rounded-circle justify-self-center" width="110px" height="110px" alt="...">
              <h4 class="text-center m-0 pt-3">{{request.user.username}}</h4>
          </div>

          <div class="col-md-9 p-4 d-grid">
              <p class="card-text">{{each.review_text}}</p>
              {% if request.user == each.reviewed_by %}
              <p class="align-self-end text-end px-2 m-0"><span><a href="{% url 'edit_review' each.id %}"><i class="fa-regular fa-pen-to-square fa-xl"></a></i><a href="{% url 'del_review' each.id %}"><i class="fa-solid fa-trash fa-xl"></i></a></span><small>    reviewed on 12/23/23 </small></p>
              {% endif %}
            </div>
      </div>
  </div>
  {% endfor %}
            
  </div>

{% endblock %}

{% block script %}

  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script text="javascript">
    setTimeout(fade_out, 3000);
    function fade_out() {
        $(".messages").fadeOut().empty();
    }
    $(".post-form")[0].reset(); // this is to reset the form 
  </script>
{% endblock script %}